<div class="app">

  <div class="left-bar">
    <div class="icon-header layout horizontal center">
      <!-- <img id="icon" src="assets/img/007-find.png"> -->
      <img id="icon" src="assets/img/conversation.png">
      <div>Partizipative Forschung</div>
    </div>

    <div *ngFor="let questionAnswer of questionAnswers" class="left-bar-item">
      <a [routerLink] [fragment]="questionAnswer.href" [routerLinkActive]="'active'"
      [routerLinkActiveOptions]="{exact: true}">{{questionAnswer.question}}</a>
    </div>
  </div>

  <main class="body">
   
    <div class="content">
      <h1>Partizipative Forschung — einfach erklärt</h1>
  
      <a class="question-header" id="was-ist-sozialwissenschaft"></a>
  
      <div *ngFor="let questionAnswer of questionAnswers">
        <div class="question-header" [id]="questionAnswer.href">
          {{questionAnswer.question}}
        </div>
        <div *ngFor="let paragraph of questionAnswer.answerParagraphs" class="answer-paragraph">
          <ng-container *ngFor="let piece of paragraph.pieces">
            <ng-container *ngIf="piece.type === 'TEXT'">{{piece.content}}</ng-container>
            <ng-container *ngIf="piece.type === 'LINK'">
              <a [attr.href]="piece.href">{{piece.content}</a>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
    
    <div class="footer">
      <div class="footer-column">
        <div class="footer-header">About</div>
        <div>blablabla</div>
      </div>

      <div class="footer-column">
        <div class="footer-header">Kontakt</div>
        <div>Christine M. xxxx@gmail.com</div>
        <div>Jasmin V. xxxx@gmail.com</div>
      </div>

      <div class="footer-column">
        <div class="footer-header">Referenzen</div>
        <div>Icons made by <a href="https://creativemarket.com/eucalyp" title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
      </div>

    </div>
  </main>
  
  
</div>
