/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Newsreader:wght@700&family=Noto+Sans+JP:wght@100&family=Playfair+Display&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

.app {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.left-bar {
  background-color: #f6f8fa;
  padding: 24px 0;
  width: 320px;
  overflow: auto;
  position: sticky;
  top: 0;
  height: 100vh;
}

.left-bar .icon-header {
  padding: 24px;
}

.left-bar #icon {
  width: 50px;
  height: 50px;
  margin-right: 8px;
}

.left-bar-item {
  padding: 8px 24px;
}

.left-bar-item:hover {
  background-color: white;
}

.left-bar a {
  text-decoration: none;
  color: black;
}

.body {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: auto;
}
  
.content {
  width: 800px;
  margin-left: 48px;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 70px;
}

.question-header {
  font-size: 40px;
  margin-top: 48px;
  margin-bottom: 1.6rem;
  font-family: 'Bebas Neue', cursive;
  font-family: 'Playfair Display', serif;
}

.question-header a {
  text-decoration: none;
  color: #51568e;
}

.answer-paragraph {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 24px;
  margin-bottom: 16px;
}

.footer {
  background-color: #f6f8fa;
  height: 200px;
}